h1,h2,h3,h4,h5,h6{
    font-weight: 200;
}
.stock-link{
    font-weight: 120;
    font-size: 13px;
}

.adobe-stock{
    position: sticky;
    top: 0px;
}
.stock-link-small{
    font-weight: 120;
    font-size: 11px;
    margin-left: 8px;
    
}

.stock-img{
    margin: 20px 0px 10px;
    
}